---
sitename: Pod Bay Door Pluggers
title:  About that Pod Bay Door
subtitle: Shhhhh... Don't Say a Word
metadescription: Creeping around the space station, away from Hal.
author: Valerie Lynn
metakeywords: space odyssey,space station,open the pod bay door hal, ,.
permalink:  about.html
---
{% extends "singlepagelayout.njk" %}

{% block introduction %}
<p>Mayday, Mayday, Mayday! Is there anybody out there? </p>
{% endblock %}

{% block maincontenttext %}

<h2>Mayday!</h2>
<p>We're sitting in a tin can, far above the world. Planet Earth is blue and there's nothing we can do.</p>

<h2>Open the Pod Bay Door</h2> 
<p>Hal, open the pod bay door.  Open the pod bay door Hal.</p>
                            
<p>Beam me up!</p> 
{% endblock %}
