<!--  begin HTML5 nav  -->
<nav>
  <div id="toprow" >
        <a href="{{ hrefdomain }}/index.html" title="{{ mytemplatevariable }} home">HOME</a> &nbsp; 
        | &nbsp; <a href="{{ hrefdomain }}/about.html" title="about {{ mytemplatevariable }}">ABOUT</a>  
  </div>
  <!-- end toprow  -->
</nav>


