<!-- begin HTML5 header -->
<header>
  <div id="title">
    <h1><span itemprop="name">{{ title }}</span></h1>
  <hr />
    <p class="subtitle">{{ subtitle }}</p>
  </div>
  <!-- end title  -->
</header>
<!--  end HTML5 header -->