<!DOCTYPE html> 
<html class="no-js" lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }} | {{ sitename }}</title>
  <meta name="description" content="{{ metadescription }}"/>
  <meta name="author" content="{{ author }}">
  <meta name="keywords" content="{{ metakeywords }}" />
</head>

<body>